<h1 class="title">About</h1>
<hr>
<p>"Imagine Optimus Prime crossed with a Apache Helicopter. Good. Continue on your way." <br><em>- The High Archon of the Order</em></p>
<br><br>

<h2>The Church</h2>
<p>As a totally not fictional organization that certainly takes itself very seriously, the Church of Dwayne 'the Rock' Johnson (CDRJ) spends it's time saving countless dolomites, mineraloids, and other forms of carbonate geology. We take pride in the fact that our hero is The Earth incarnate. After all, the nickname 'The Rock' is not given to anybody, only those worthy to protect all sediments around the globe.</p>


<hr>
<h2>The Man</h2>
<p>Dwayne Douglas Johnson, also known as The Rock, was born on May 2, 1972 in Hayward, California. While growing up, Dwayne traveled around a lot with his parents and watched his father perform in the ring. During his high school years, Dwayne began playing football and he soon received a full scholarship from the University of Miami, where he had tremendous success as a football player. In 1995, Dwayne suffered a back injury which cost him a place in the NFL. He then signed a three-year deal with the Canadian League but left after a year to pursue a career in wrestling.
  <br>

He made his wrestling debut in the USWA under the name Flex Kavanah where he won the tag team championship with Brett Sawyer. In 1996, Dwayne joined the WWE and became Rocky Maivia where he joined a group known as "The Nation of Domination" and turned heel. Rocky eventually took over leadership of the "Nation" and began taking the persona of The Rock. In 2000, the Rock took time off from WWE to film his appearance in The Mummy Returns (2001). </p>
<hr>
