.container {
  background-color: #274249;
  color: #FAFFFD;
  padding: 20px;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  background-color: #232323;

  font-size: 20px;
  color: #FAFFFD;
}

.navi-para {
  width: 25%;
  height: 100%;
  margin: 0px;
  padding: 8px;
  text-align: center;
}

.navi-para:hover {
  cursor: pointer;
  background-color: #FAFFFD;
  color: #232323;
}

.navi-para:focus {
  outline: 0;
}
