
img {
  position: absolute;
  border: 1px solid #232323;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 50px #232323;
}

.old {
  top: 30%;
  left: 50%;
}

.hero {
  width: 800px;
  top: 70%;
  left: 50%;
}
